# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# Docker
*.pid

# Testing
.coverage
htmlcov/

# Airflow
airflow/logs/
airflow/airflow.db

# Misc
*.sqlite3